# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Go
*.test
go.work

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CloudQuery
.cq/

# Logs
*.log

#local pycache 
infra/__pycache__/*
infra/aws/__pycache__/*